## 3.6 データ検索・結合　演習問題解答例

### 共通処理

In [ ]:
# 日本語化ライブラリ導入
!pip install japanize-matplotlib | tail -n 1

Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->japanize-matplotlib) (1.15.0)

In [ ]:
# ライブラリのimport

# NumPy用ライブラリ
import numpy as np

# Matplotlib中のpyplotライブラリのインポート
import matplotlib.pyplot as plt

# matplotlib日本語化対応ライブラリのインポート
import japanize_matplotlib

# pandas用ライブラリ
import pandas as pd

# データフレーム表示用関数
from IPython.display import display

# seaborn
import seaborn as sns

In [ ]:
# 表示オプション調整

# NumPy表示形式の設定
np.set_printoptions(
    suppress=True, precision=4, floatmode='fixed'
)

# グラフのデフォルトフォント指定
plt.rcParams["font.size"] = 14

# サイズ設定
plt.rcParams['figure.figsize'] = (6, 6)

# 方眼表示ON
plt.rcParams['axes.grid'] = True


# データフレームでの表示精度
pd.options.display.float_format = '{:.4f}'.format

# データフレームですべての項目を表示
pd.set_option("display.max_columns",None)

### CSVファイル読み込み

In [ ]:
# 　URL定義

# 貸出情報
url1 = 'https://github.com/makaishi2/samples/raw/main/data/rental3-jp.csv'

# CSV データ読み込み

# 貸出情報
df1 = pd.read_csv(url1)

### 貸出情報確認

In [ ]:
# 貸出情報確認
print('貸出情報')
print('件数: ', len(df1))
print('内容')
display(df1.head())

貸出情報
件数:  16044
内容

,貸出ID,DVD_ID,顧客ID,映画ID,貸出日時,タイトル,概要,公開年,レンタル代,カテゴリ名
0,361,6,587,1,2005-05-27 07:03:28.000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.9900,Documentary
1,14624,4,344,1,2005-08-21 18:32:42.000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.9900,Documentary
2,10883,4,301,1,2005-08-02 00:47:19.000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.9900,Documentary
3,12651,8,34,1,2005-08-18 18:36:16.000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.9900,Documentary
4,10141,8,8,1,2005-07-31 22:08:29.000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,0.9900,Documentary

### 演習問題
このビデオ店では、販売促進施策として、過去のレンタル金額の合計が一番大きな顧客を
プラチナユーザーとし、そのユーザーが今まで一番大きなレンタル金額を支払っているカテゴリの
レンタル料を半額にすることとしました。  
この方針に基づき、次の２つの問いに答えて下さい。  
  
 (1) 過去の合計レンタル金額が最も高いユーザーを調べて下さい。  
 (2) (1)で調べたユーザーに対して、過去のレンタル金額が最も大きいカテゴリ名を調べて下さい。

#### (1) 過去の合計レンタル金額が最も高いユーザーを調べる

In [ ]:
# 貸出情報から項目「顧客ID」と「レンタル代」のみを抽出し、結果をx1に代入する
# 参照　2.4.4項　コード2-4-15　
x1 = df1[['顧客ID', 'レンタル代']]
display(x1.head(2))

   顧客ID  レンタル代
0   587 0.9900
1   344 0.9900

In [ ]:
#  x1に対してgroupbyメソッドを用いて、レンタル代の合計金額を顧客IDごとに算出
# 参照 3.4.5項　コード3-4-11
x2 = x1.groupby('顧客ID').sum()
display(x2.head(2))

       レンタル代
顧客ID
1    93.6800
2    82.7300

In [ ]:
# x2に対してreset_indexメソッドと用いて、顧客　IDを項目名に戻す
# 参照 3.6.4項　コード3-6-7
x3 = x2.reset_index()
display(x3.head(2))

   顧客ID   レンタル代
0     1 93.6800
1     2 82.7300

In [ ]:
# x3の結果を「レンタル代」で逆順にソートして、
# レンタル代の合計が一番大きな顧客を算出
# 参照 3.6.3項コード3-6-4
x4 = x3.sort_values('レンタル代', ascending=False)
display(x4.head(2))

     顧客ID    レンタル代
147   148 147.5400
525   526 138.5500

#### (2) (1)で調べたユーザーに対して、過去のレンタル金額が最も大きいカテゴリ名を調べる

In [ ]:
# 貸出情報から項目「顧客ID」と「レンタル代」「カテゴリ名」のみを抽出し、
# 結果をx5に代入する
# 参照　2.4.4項　コード2-4-15　
x5 = df1[['顧客ID', 'レンタル代', 'カテゴリ名']]
display(x5.head(2))

   顧客ID  レンタル代        カテゴリ名
0   587 0.9900  Documentary
1   344 0.9900  Documentary

In [ ]:
# x5から顧客IDが(1)で調べたものを抽出
# 参照 3.6.5項　コード3-6-9
x6 = x5.query('顧客ID == 148')
display(x6.head(2))

     顧客ID  レンタル代   カテゴリ名
64    148 2.9900  Horror
343   148 4.9900  Action

In [ ]:
# groupbyメソッドを用いてx6の結果から
# カテゴリ別の合計レンタル代を算出
# 参照 3.4.5項　コード3-4-11
x7 = x6.groupby('カテゴリ名').sum()['レンタル代']

# reset_indexメソッドを用いて、カテゴリ名を列に戻す
# 参照 3.6.4項　コード3-6-7
x8 = x7.reset_index()
display(x8.head(2))

      カテゴリ名   レンタル代
0    Action 12.9700
1  Classics 13.9600

In [ ]:
# sort_indexメソッドで、合計レンタル代の最も大きな
# カテゴリを調べる
# 参照 3.6.3項コード3-6-4
x9 = x8.sort_values('レンタル代', ascending=False)
display(x9.head(2))

      カテゴリ名   レンタル代
13   Travel 22.9500
6   Foreign 15.9600