## 3.2 データ読み込み　演習問題解答例

### 共通処理

In [1]:
# 日本語化ライブラリ導入
!pip install japanize-matplotlib | tail -n 1

Successfully installed japanize-matplotlib-1.1.3

In [2]:
# ライブラリのimport

# NumPy用ライブラリ
import numpy as np

# Matplotlib中のpyplotライブラリのインポート
import matplotlib.pyplot as plt

# matplotlib日本語化対応ライブラリのインポート
import japanize_matplotlib

# pandas用ライブラリ
import pandas as pd

# データフレーム表示用関数
from IPython.display import display

In [3]:
# 表示オプション調整

# NumPy表示形式の設定
np.set_printoptions(
    suppress=True, precision=4, floatmode='fixed'
)

# グラフのデフォルトフォント指定
plt.rcParams["font.size"] = 14

# サイズ設定
plt.rcParams['figure.figsize'] = (6, 6)

# データフレームでの表示精度
pd.options.display.float_format = '{:.4f}'.format

# データフレームですべての項目を表示
pd.set_option("display.max_columns",None)

### 演習問題

In [4]:
# 演習問題用ファイルのダウンロード
url = 'https://raw.githubusercontent.com/makaishi2/samples/main/data/ch03-02-exam.tsv'
!wget -nc $url

--2022-10-01 00:14:27--  https://raw.githubusercontent.com/makaishi2/samples/main/data/ch03-02-exam.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 382 [text/plain]
Saving to: ‘ch03-02-exam.tsv’

ch03-02-exam.tsv    100%[===================>]     382  --.-KB/s    in 0s

2022-10-01 00:14:27 (11.9 MB/s) - ‘ch03-02-exam.tsv’ saved [382/382]

In [5]:
# 演習問題用ファイルの内容確認
!cat ch03-02-exam.tsv

3.2節　演習問題用TSVファイル
注意すべき点
(1)先頭の余分な行を読み取り対象から取り除く
(2)区切り文字はタブ
(3)ID列は「0001」とゼロを残した状態で読み取りたい
------
ID	氏名	性別	身長	体重
0001	田中優花	女	140	40.5
0002	佐藤和也	男	175	70.2
0003	鈴木一郎	男	170	65.0
0004	高橋美香	女	158	55.6

#### 問題  
ダウンロード済みのファイルch03-02-exam.tsvをデータフレームに読み込んで下さい。

In [6]:
# 次の行を実装します
df4 = pd.read_csv(
    'ch03-02-exam.tsv',
    skiprows=6, sep='\t', dtype=object)

# 結果確認
display(df4)

     ID    氏名 性別   身長    体重
0  0001  田中優花  女  140  40.5
1  0002  佐藤和也  男  175  70.2
2  0003  鈴木一郎  男  170  65.0
3  0004  高橋美香  女  158  55.6

In [9]:
# 別解
# このように列単位でdtype指定をすると、他の項目に影響を与えないです
# 文字列であることを明示的に示す場合objectの代わりにstrを使います
df5 = pd.read_csv(
    'ch03-02-exam.tsv',
    header=6, sep='\t', dtype={'ID': str})

# 結果確認
display(df5)

     ID    氏名 性別   身長      体重
0  0001  田中優花  女  140 40.5000
1  0002  佐藤和也  男  175 70.2000
2  0003  鈴木一郎  男  170 65.0000
3  0004  高橋美香  女  158 55.6000